@tailwind base;
@tailwind components;
@tailwind utilities; 

::-webkit-scrollbar {
  height: 8px;
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}